/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

:root {
  font-family: 'Libre Baskerville', serif;
  --button: #094938;
  --font: #EEFCFA;
}

/*Styles*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("/img/blob.svg") no-repeat center;
  background-size: 100% 100%;
}

#blob1, #blob2 {
  position: absolute;
  width: 40rem;
  height: 20rem;
  top: 20%;
  left: 80%;
  background: url("/img/blob2.svg") no-repeat;
}

#blob2 {
  top: 60%;
  left: 5%;
  background: url("/img/blob3.svg") no-repeat;
}

#weatherContainer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 10rem;
  font-size: 3rem;
  padding: 1rem;
  width: fit-content;
  justify-content: center;
}

#jokeContainer {
  width: 30rem;
  height: 15rem;
  padding: 4rem;
  border-radius: 5px;
  text-align: center;
  color: var(--font);
}

#headerTittle {
  font-size: 3rem;
}

#app {
  height: 2rem;
  margin-top: 2rem;
}

#jokeButton {
  border: none;
  border-radius: 5px;
  padding: .5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  background-color: var(--button);
  font-size: 2rem;
  color: var(--bg-color);
  box-shadow: 5px 5px 15px 5px var(--button);
  cursor: pointer;
}

#scoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}

#button1,
#button2,
#button3 {
  font-size: 2rem;
  cursor: pointer;
}